In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import lxml

In [2]:
html_data = requests.get('https://en.wikipedia.org/wiki/List_of_largest_banks?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01').text

In [3]:
soup = BeautifulSoup(html_data, 'lxml')

In [4]:
table = soup.find_all('table', class_ = 'wikitable sortable mw-collapsible')

In [5]:
print(len(table))

4

In [6]:
my_table = table[2]

In [7]:
body_of_table = my_table.find('tbody')

In [8]:
data_of_table = body_of_table.find_all("tr")

In [9]:
data_of_table = data_of_table[1:]

In [10]:
dic = {'Rank':[],'bank_name':[],'market_cap(US$ billion)':[]}
for row in data_of_table:
    dic['Rank'].append((row.select("td")[0].text).strip())
    dic['bank_name'].append((row.select("td")[1].text).strip())
    dic['market_cap(US$ billion)'].append((row.select("td")[2].text).strip())

In [11]:
df = pd.DataFrame(dic,columns=['Rank', 'bank_name', 'market_cap(US$ billion)'])

In [12]:
df

   Rank                                bank_name market_cap(US$ billion)
0     1                           JPMorgan Chase                 487.220
1     2  Industrial and Commercial Bank of China                 345.214
2     3                          Bank of America                 325.331
3     4                              Wells Fargo                 308.013
4     5                  China Construction Bank                 257.399
..  ...                                      ...                     ...
65   66                             Ping An Bank                  37.993
66   67                       Standard Chartered                  37.319
67   68                     United Overseas Bank                  35.128
68   69                                QNB Group                  33.560
69   70                    Bank Rakyat Indonesia                  33.081

[70 rows x 3 columns]

In [13]:
df.to_json('bank_market_cap.json')